<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369552579386-o6uh8rtaevncef7bb4jmka3uma04h7bq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369552579386-o6uh8rtaevncef7bb4jmka3uma04h7bq</string>
	<key>API_KEY</key>
	<string>AIzaSyD8bo-E9JoHxwjkmWrCNahWlEamse9I_rw</string>
	<key>GCM_SENDER_ID</key>
	<string>369552579386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mocha.swift-master</string>
	<key>PROJECT_ID</key>
	<string>swiftmaster-1bca4</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftmaster-1bca4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369552579386:ios:357ea1d093b96e3ad94e03</string>
</dict>
</plist>